@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

.bus-map img {
  max-width: 100%;
  height: auto;
}